/Primeros Ejercicios/nbproject/private/
/Primeros Ejercicios/build/
/Primeros Ejercicios/dist/
/Actividad1/nbproject/private/
/Actividad1/build/
/Actividad6/nbproject/private/
/Actividad5/nbproject/private/
/Actividad8/nbproject/private/
/Actividad8/build/
/Actividad6/build/
/Actividad9/nbproject/private/
/Actividad9/build/
/Actividad10/nbproject/private/
/Actividad10/build/
/Actividad11/nbproject/private/
/Actividad11/build/
/Actividad13/nbproject/private/
/Actividad13/build/
/Actividad13/dist/
/Actividad12/nbproject/private/
/Actividad12/build/
/Actividad12/dist/
/prueba/nbproject/private/
/prueba/build/
/Actividad14/nbproject/private/
/Actividad14/build/
/Actividad14/dist/
/Activdad15Bingo/nbproject/private/
/Activdad15Bingo/build/
/Activdad15Bingo/dist/
