<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>inicio</servlet-name>
        <servlet-class>Controlador.inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alta</servlet-name>
        <servlet-class>Controlador.alta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarcesta</servlet-name>
        <servlet-class>Controlador.agregarcesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarcestavendidos</servlet-name>
        <servlet-class>Controlador.agregarcestavendidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarcesinfantil</servlet-name>
        <servlet-class>Controlador.agregarcesinfantil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarcestavalorados</servlet-name>
        <servlet-class>Controlador.agregarcestavalorados</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>inicio</servlet-name>
        <url-pattern>/inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alta</servlet-name>
        <url-pattern>/alta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarcesta</servlet-name>
        <url-pattern>/agregarcesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarcestavendidos</servlet-name>
        <url-pattern>/agregarcestavendidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarcesinfantil</servlet-name>
        <url-pattern>/agregarcesinfantil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarcestavalorados</servlet-name>
        <url-pattern>/agregarcestavalorados</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
