<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletInicio</servlet-name>
        <servlet-class>Controlador.ServletInicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servletalta</servlet-name>
        <servlet-class>Controlador.Servletalta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServleModificar</servlet-name>
        <servlet-class>Controlador.ServleModificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlemodifinal</servlet-name>
        <servlet-class>Controlador.Servlemodifinal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBorrar</servlet-name>
        <servlet-class>Controlador.ServletBorrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servletbuscotitulo</servlet-name>
        <servlet-class>Controlador.Servletbuscotitulo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servletbuscopelipordirector</servlet-name>
        <servlet-class>Controlador.Servletbuscopelipordirector</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletInicio</servlet-name>
        <url-pattern>/ServletInicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servletalta</servlet-name>
        <url-pattern>/Servletalta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServleModificar</servlet-name>
        <url-pattern>/ServleModificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlemodifinal</servlet-name>
        <url-pattern>/Servlemodifinal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBorrar</servlet-name>
        <url-pattern>/ServletBorrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servletbuscotitulo</servlet-name>
        <url-pattern>/Servletbuscotitulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servletbuscopelipordirector</servlet-name>
        <url-pattern>/Servletbuscopelipordirector</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
